{% extends 'base.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <section class="bg-dark text-light p-5 text-center">
        <div class="container-fluid">
            <div class="d-sm-flex">
                <div>
                    <h1>Welcome to <span class="text-warning">the home of Blogs</span></h1>
                    <p class="lead">Sign up to our website then proceed with creating Blogs and Read Blogs from other users</p>
                </div>
                <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='photos/randomphoto.jpeg') }}" alt="">
            </div>
           
        
                    <div class="col-md-12">
                        <div class="alert alert-primary" role="alert">
                            <h4 class="alert-heading">QUOTE OF THE DAY!!</h4>
                            <p><i class="fas fa-quote-left" style="color: #ffdd19;"></i> {{quotes.quote}} <i
                                    class="fas fa-quote-right" style="color: #ffdd19;"></i></p>
                            <hr>
                            <p class="mb-0" id="author"> <span class="br">By</span> {{quotes.author}}
                            </p>
                        </div>
                        <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='image/photo.jpeg') }}" alt="">


    
                        
                        
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </section>
        </div>
    </section>
    
</body>
</html>
{% endblock %}
